<div class="modal" tabindex="-1" id="createTask">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createTaskForm" (ngSubmit)="onCreateTask(createTaskForm)">
          <div class="mb-3">
            <label for="title-field" class="form-label">Title</label>
            <input type="text" class="form-control border border-primary input-field" id="title-field"
              formControlName="title" autocomplete="title">
            <span *ngIf="!createTaskForm.get('title')?.valid && createTaskForm.get('title')?.touched"
              class="help is-danger">
              This field is required
            </span>
          </div>
          <div>
            <label for="title-field" class="form-label">Description</label>
            <textarea class="form-control border border-primary input-field" id="exampleFormControlTextarea1" rows="2"
              formControlName="description"></textarea>
            <span *ngIf="!createTaskForm.get('description')?.valid && createTaskForm.get('description')?.touched"
              class="help is-danger">
              This field is required
            </span>
          </div>
          <div class="mb-3">
            <label for="usersOfBoard" class="form-label">Users</label>
            <select id="usersOfBoard" class="form-control border border-primary input-field"
              formControlName="usersOfTask" multiple>
              <option *ngFor="let user of users" [value]="user._id">{{user.name}} ({{user.login}})</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
            <button type="submit" class="btn btn-success"
              [disabled]="!createTaskForm.valid && !isButtonDisabled">CREATE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
