<div class="modal" tabindex="-1" id="confirmation-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Are sure you want to delete {{ message }}?</h5>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="delete()">DELETE</button>
      </div>
    </div>
  </div>
</div>
