<div class="modal" tabindex="-1" id="createBoard">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModalWindow($event)"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger text-center" *ngIf="error">
          <p class="m-0">{{error}}</p>
        </div>
        <form [formGroup]="createBoardForm" (ngSubmit)="onCreate(createBoardForm, $event)">
          <div class="mb-3">
            <label for="title-field" class="form-label">Title</label>
            <input type="text" class="form-control border border-primary input-field" id="title-field"
              formControlName="title" autocomplete="title">
            <span *ngIf="!createBoardForm.get('title')?.valid && createBoardForm.get('title')?.touched"
              class="help is-danger">
              This field is required
            </span>
          </div>
          <div class="mb-3">
            <label for="usersOfBoard" class="form-label">Users</label>
            <select id="usersOfBoard" class="form-control border border-primary input-field"
              formControlName="usersOfBoard" multiple>
              <option *ngFor="let user of users" [value]="user._id">{{user.name}} ({{user.login}})</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              (click)="closeModalWindow($event)">CLOSE</button>
            <button type="submit" class="btn btn-success" [disabled]="!createBoardForm.valid">CREATE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
