.back-to-main {
  cursor: pointer;
}

.style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar {
  background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
}

.column-container {
  max-height: 530px;
  overflow-y: auto;
}

.column-title, .task-update {
  cursor: pointer;
}
