@import '~normalize.css';

:root {
  --cyanBlue: #0d6efd;
}

/**********************FONTS*********************/

@font-face {
  font-family: 'georgia normal';
  src: url('./assets/fonts/Georgia/georgia.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'georgia bold';
  src: url('./assets/fonts/Georgia/georgiab.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'arial normal';
  src: url('./assets/fonts/Arial/arial.ttf');
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: 'georgia normal', sans-serif;
  font-size: 15px;
  background-color: #e8fcff;
  letter-spacing: 0.05em;

}

.signup-login-header {
  font-family: 'georgia bold', sans-serif;
  color: var(--cyanBlue);
}

.input-field,
.have-account {
  font-size: 17px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important;
  box-shadow: 0 0 8px red !important;
}
