<div class="container-fluid ">
  <div class="m-5">
    <div class="row py-2">
      <div class="col">
        <h2 class="banner-header m-0 py-2">WellDone<br>{{ 'bannerHeader' | translate }}</h2>
        <hr>
        <p class="banner-motto m-0 py-3">{{ 'bannerMotto' | translate }}</p>
        <p class="banner-text m-0 py-4">{{ 'bannerText' | translate }}</p>
        <button class="btn btn-primary btn-lg mt-4" routerLink="/signup">{{ 'learnMore' | translate }}</button>
      </div>
      <div class="col-12 col-lg-6 py-3 text-center">
        <img src="../../assets/images/WelcomePage.png" alt="person-with-tasks" class="mw-100">
      </div>
    </div>
    <div>
      <div class="row mt-2">
        <div class="col"></div>
        <h3 class="text-center m-0 py-4">{{ 'features' | translate }}</h3>
      </div>
      <div class="row text-center justify-content-center">
        <div class="col-md-4 mb-3">
          <div class="card border-secondary mb-3 h-100 m-auto" style="max-width: 25rem;">
            <div class="card-body">
              <h4 class="card-title">{{ 'feature1Title' | translate }}</h4>
              <p class="card-text m-0">{{ 'feature1Text' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card border-secondary mb-3 h-100 m-auto" style="max-width: 25rem;">
            <div class="card-body">
              <h4 class="card-title mb-3">{{ 'feature2Title' | translate }}</h4>
              <p class="card-text m-0">{{ 'feature2Text' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="card border-secondary h-100 m-auto" style="max-width: 25rem;">
            <div class="card-body">
              <h4 class="card-title">{{ 'feature3Title' | translate }}</h4>
              <p class="card-text m-0">{{ 'feature3Text' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-project">
      <div class="row mt-2">
        <div class="col">
          <h3 class="text-center m-0 py-4">{{ 'aboutProject' | translate }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card border-secondary mb-3 h-100 m-auto ">
            <div class="card-body">
              <p class="about-project-desc text-center m-0">{{ 'aboutProjectText' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-developer">
      <div class="row mt-2">
        <div class="col">
          <h3 class="text-center m-0 py-4">{{ 'aboutDeveloper' | translate }}</h3>
        </div>
      </div>
      <div class="row py-2 justify-content-center">
        <div class="col-12 col-lg-4 py-3 text-center">
          <img src="../../assets/images/photoOfDeveloper.jpg" alt="Mariia Kuryleva" class="mw-100">
        </div>
        <div class="col-lg-4 col-md-12">
          <h4 class="about-developer-header pt-5">{{ 'aboutDeveloperHeader' | translate }}</h4>
          <hr>
          <p class="about-developer-text m-0 py-4">{{ 'aboutDeveloperText' | translate }}</p>
        </div>

      </div>
    </div>

    <div class="about-course">
      <div class="row mt-2">
        <div class="col">
          <h3 class="text-center m-0 py-4">{{ 'aboutCourse' | translate }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card border-secondary mb-3 h-100 m-auto ">
            <div class="card-body">
              <p class="about-project-desc text-center m-0">{{ 'aboutCourseText' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
