<main>
  <div class="container min-vh-100">
    <div *ngIf="isLoading" class="text-center m-auto">
      <pm-loading-spinner></pm-loading-spinner>
    </div>
    <div class="row justify-content-center" *ngIf="!isLoading">
      <div class="card border border-primary m-4 p-0" style="width: 20rem;" *ngFor="let board of boards">
        <div class="card-header text-end bg-warning"><button type="button" class="btn-close " data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="card-body">
          <h4 class="card-title">{{ board.title}}</h4>
        </div>
      </div>
    </div>
  </div>
</main>
<pm-confirmation-modal></pm-confirmation-modal>
