<main>
  <div class="container min-vh-100">
    <div *ngIf="isLoading" class="text-center m-auto">
      <pm-loading-spinner></pm-loading-spinner>
    </div>
    <div class="alert alert-danger text-center alert-dismissible fade show" *ngIf="error">
      <p class="m-0">{{error}}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row justify-content-center board-card" *ngIf="!isLoading">
      <div class="card border border-primary m-4 p-0" style="width: 20rem;" *ngFor="let board of boards"
        (click)="OnNavigateToBoard(board)">
        <div class="card-header text-end bg-warning">
          <button type="button" class="btn btn-link text-white" (click)="onDeleteBoard($event, board)"><fa-icon
              [icon]="faXmark" size="xl"></fa-icon></button>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ board.title}}</h4>
        </div>
      </div>
    </div>
  </div>
</main>
<pm-confirmation-modal [message]="alertMessage"></pm-confirmation-modal>
